<div id="main-container">

  <div id="collection-container">
    <div class="card" *ngFor="let card of cards">
      <p class="count-card">{{getCountOfTheSameCardInCollection(card)}}</p>
      <img [src]="getCardImageUrl(card)" alt="Card image" [ngClass]="{'dimmed': !isCardInUserCollection(card)}">
      <p class="card-name">{{getCardName(card)}}</p>
    </div>
  </div>

  <div id="menu-container">
    <div id="menu-bar">
      <div (click)="goToHome()" class="back-button"><span>Back</span></div>
    </div>
  </div>
</div>