<div id="main-container">
  <div *ngIf="!isPackOpened" id="pack-container" (click)="openPack()">
    <div id="pack">
    </div>
  </div>

  <div *ngIf="isPackOpened" id="cards-container">
    <div class="card" *ngFor="let card of newCards">
      <img [src]="'data:image/png;base64,' + card.image" alt="Card image">
    </div>
  </div>

  <!-- Menu bar -->
  <div id="menu-container">
    <div id="menu-bar">
      <div id="open-button" (click)="openPack()"><span>Open a pack</span></div>
      <div id="back-button" (click)="goToHome()"><span>Back</span></div>
    </div>
  </div>
  <!-- </div> -->