<div class="main-container">
  <!-- Container for pack opening -->
  <div *ngIf="!isPackOpened" class="pack-container" (click)="openPack()">
    <div class="pack">
      <span>Open a Pack</span>
    </div>
  </div>

  <!-- Container for cards display -->
  <div *ngIf="isPackOpened" class="cards-container">
    <div class="card" *ngFor="let card of cards">
      <img [src]="getCardImageUrl(card)" alt="Card image">
      <div class="card-name">{{ card.name }}</div>
    </div>
  </div>

  <!-- Menu bar -->
  <div class="menu-container">
    <div class="menu-bar">
      <div class="open-button" (click)="openPack()"><span>Open next</span></div>
      <div class="back-button" (click)="goToHome()"><span>Back</span></div>
    </div>
  </div>
</div>

<!-- <div class="main-container">

  <div class="pack-container">
    <div class="pack"></div>
  </div>

  <div class="menu-container">
    <div class="menu-bar">
      <div (click)="openPack()" class="open-button"><span>Open next</span></div>
      <div (click)="goToHome()" class="back-button"><span>Back</span></div>
    </div>
  </div>
</div> -->
