<div class="menu-container">

  <div (click)="goToCollection()" class="rectangle" style="background: url('/assets/images/collection.jpg');">
    <div class="inner-rectangle"><span>Collection</span>></div>
  </div>

  <div (click)="goToPack()" class="rectangle" style="background: url('/assets/images/pack.jpg');">
    <div class="inner-rectangle"><span>Open a pack</span>></div>
  </div>

  <div (click)="goToTrade()" class="rectangle" style="background: url('/assets/images/trade.jpg');">
    <div class="inner-rectangle"><span>Trade</span></div>
  </div>
</div>
