.main-container {
  height: 100vh;
  width: 100vw;

  .trade-container {
    height: 80%;
  }

  .menu-container {
    height: 20%;

    .menu-bar {
      position: relative;
      top: 30%;
      height: 50px;
      width: 100%;
      background-color: black;
      opacity: 0.75;
    }

    .back-button,
    .trade-button {
      position: relative;
      flex-direction: row;
      top: 10%;
      color: white;
    }
  }
}