<div class="main-container">

  <div id="trade-container">

    <div id="user-cards-container">
      <div class="card" *ngFor="let card of cards" (click)="setCardFromUserCollectionToTrade(card.id)"
        [ngStyle]="{'opacity': getCountOfTheSameCardInCollection(card) === 0 ? '0.5' : '1'}">
        <p class="count-card">{{getCountOfTheSameCardInCollection(card)}}</p>
        <img [src]="'data:image/png;base64,' + card.image" alt="Card image">
      </div>
    </div>

    <div id="divider">
      <img src="../../../assets/images/trade.png" />
    </div>

    <div id="all-cards-container">
      <div class="card" *ngFor="let card of cards" (click)="setCardFromAllCardsToTrade(card)">
        <img [src]="'data:image/png;base64,' + card.image" alt="Card image">
      </div>
    </div>

  </div>

  <div class="menu-container">
    <div class="menu-bar">
      <div class="trade-button" (click)="tradeCards()"><span>Trade</span></div>
      <div (click)="goToHome()" class="back-button"><span>Back</span></div>
    </div>
  </div>
</div>